@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #202020;
  --primary: #1D3AA2;
  --secondary: #A1337A;
  --tertiary: #3995FF;
  --quaternary: #FFBD14;

  --success: #00ab00;
  --error: #dd0000;
  --info: #0043df;
  --warning: #ffa600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-warning: var(--warning);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} 